@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Sans Thai', sans-serif;
}

body {
  background-color: rgb(31, 31, 31);
  color: white;
}